/* Global Styles ---*/
body{
  color: #343434;
  color: #F7FFF7;
}
img {
  width: 300px;
}
/* profile
---------------- */
header{
  background: #2F3061;
}
/* projects
--------------------*/
.projects{
  background: #F7FFF7;
}
/* work experience
----------*/
.work-experience{
  background: #A1C6D7;
}
/* education
------------------*/

/* contact information
-----------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
