.add-option-error {
    color : $off-white;
    font-style : italic;
    margin : $m-size 0 0 0;
    padding : 0 $m-size;
}
.add-option{
    display: flex;
    flex-direction: column;
    padding: $m-size;

}
.add-option__input{
    flex-grow: 1;
    border:none;
    color:$off-white;
    padding:$s-size;
    border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
    background: $dark-blue;
    margin:0 0 $s-size 0;
}

@media(min-width: $desktop-breakpoint){

.add-option{
    flex-direction: row;
}
.add-option__input{
    margin: 0 $s-size 0 0;
}
    
}